/* navbar */
.navbar, .navbar-nav .dropdown ul{
    background-color: #3399FF;
}

.navbar ul li a:hover, .navbar-nav .dropdown .dropdown-menu li a:hover{
  background-color: #0088FF;
}

.navbar-header a, #navbar ul li a, .navbar-nav .dropdown ul .dropdown-header{
  color: black;
}


/* main jumbotron */
#main-jumbo{
  background-color:#99CCFF;
  color: white;
}

/* footer */
footer{
  background-color: #E0E0E0;
}