
    <div class="container" ng-controller="IndexController">
        <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Our Lipsmacking Culinary Creations</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
				<div class="media">
                  <div class="media-left">
                    <a href=""><img ng-src="{{dish.image}}" class="media-object"></a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{ dish.name}}<span class="label label-danger">{{ dish.label }}</span></h4>
                    <p>{{dish.price}}</p>
                    <p>{{dish.description}}</p>
                  </div>
                </div>
            </div>
        </div>


        <div class="row row-content">
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <h3 align=center>This Month's Promotions</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
				<div class="media">
                  <div class="media-left">
                    <a href=""><img ng-src="{{promotion.image}}" class="media-object"></a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{ promotion.name}}<span class="label label-danger">{{ promotion.label }}</span></h4>
                    <p>{{promotion.price}}</p>
                    <p>{{promotion.description}}</p>
                  </div>
                </div>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Meet our Culinary Specialists</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
				<div class="media">
                  <div class="media-left">
                    <a href=""><img ng-src="{{promotion.image}}" class="media-object"></a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{ promotion.name}}<span class="label label-danger">{{ promotion.label }}</span></h4>
                    <p>{{promotion.price}}</p>
                    <p>{{promotion.description}}</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
